# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vscode/
.DS_Store
./etapa*

*.txt
output/*
parser.tab.*
lex.yy.*
etapa*dot/output_entrada_1.dot dot/output_entrada_10.dot dot/output_entrada_11.dot dot/output_entrada_12.dot dot/output_entrada_13.dot dot/output_entrada_14.dot dot/output_entrada_15.dot dot/output_entrada_16.dot dot/output_entrada_17.dot dot/output_entrada_18.dot dot/output_entrada_19.dot dot/output_entrada_2.dot dot/output_entrada_20.dot dot/output_entrada_21.dot dot/output_entrada_22.dot dot/output_entrada_3.dot dot/output_entrada_4.dot dot/output_entrada_5.dot dot/output_entrada_6.dot dot/output_entrada_7.dot dot/output_entrada_8.dot dot/output_entrada_9.dot
